[Unit]
Description=Refresh nginx workers periodically

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
AccuracySec=30s
Unit=nginx-refresh.service

[Install]
WantedBy=timers.target
